html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.night-mode {
    background-color: #000;
    color: #ccc;
}

body {
    font: 14px/1.2857 sans-serif;
}

a {
    color: #008BE0;
    text-decoration: none;
    cursor: pointer;
}

.night-mode a {
    color: #3D90C3;
}

#nav {
    display: block;
    padding: 0 10px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    overflow: hidden;
}

.night-mode #nav {
    background-color: #080808;
    border-bottom-color: #191919;
}

.right-nav {
    float: right;
    font-size: 12px;
    line-height: 21px;
    margin: 3px 10px;
    text-align: right;
}

.right-nav .row {
    display: block;
}

.right-nav .title {
    font-weight: bold;
    font-size: 18px;
}

.right-nav .row a.github {
    margin-left: 2em;
}

.timer {
    float: left;
    width: 2.5em;
    font-size: 48px;
    line-height: 63px;
    margin: 3px 0;
}

.ticker {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    border: 1px solid red;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: red;
    margin-left: .25em;
}

.ticker.odd {
    background-color: #fff;
}

.night-mode .ticker.odd {
    background-color: #000;
}

.tick.disconnected {
    display: none;
}

.stats {
    float: left;
    width: 16em;
    line-height: 21px;
    padding-right: 20px;
    margin: 3px 0;
}

.chart-selector {
    float: left;
}

.chart-selector .chart-choice {
    float: left;
    height: 63px;
    padding: 3px 15px;
    text-align: center;
}

.chart-selector .chart-choice.selected {
    background-color: #e7e7e7;
    color: #000;
}

.night-mode .chart-selector .chart-choice.selected {
    background-color: #191919;
    color: #fff;
}

.chart-selector .chart-choice .tab-name {
    display: inline-block;
    font-size: 16px;
    margin-top: 21px;
    line-height: 21px;
}

.chart-selector .chart-choice .tab-description {
    display: block;
    font-size: 12px;
    color: #888;
}

.rainbow-distribution {
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
    cursor: pointer;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
}

.night-mode .rainbow-distribution {
    background-color: #000;
    border-bottom-color: #191919;
}

.rainbow-distribution.text {
    color: #000;
}

.night-mode .rainbow-distribution.text {
    color: #fff;
}

.rainbow-distribution.disconnected {
    background-color: #e7e7e7;
    color: #333;
    cursor: default;
}

.night-mode .rainbow-distribution.disconnected {
    background-color: #191919;
    color: #ccc;
}

.rainbow-distribution > div {
    float: left;
}

.rainbow-distribution.text > div {
    width: 16.6666% !important;
}

.rainbow-distribution .label {
    font-weight: bold;
}

.rainbow-distribution.rainbow .label {
    display: none;
}

.rainbow-distribution.rainbow .flair-press-1 {
    background-color: #e50000;
}

.rainbow-distribution.rainbow .flair-press-2 {
    background-color: #e59500;
}

.rainbow-distribution.rainbow .flair-press-3 {
    background-color: #E5D900;
}

.rainbow-distribution.rainbow .flair-press-4 {
    background-color: #02be01;
}

.rainbow-distribution.rainbow .flair-press-5 {
    background-color: #0083C7;
}

.rainbow-distribution.rainbow .flair-press-6 {
    background-color: #820080;
}

.rainbow-distribution.text .flair-press-1 .label {
    color: #e50000;
}

.rainbow-distribution.text .flair-press-2 .label {
    color: #e59500;
}

.rainbow-distribution.text .flair-press-3 .label {
    color: #E5D900;
}

.rainbow-distribution.text .flair-press-4 .label {
    color: #02be01;
}

.rainbow-distribution.text .flair-press-5 .label {
    color: #0083C7;
}

.rainbow-distribution.text .flair-press-6 .label {
    color: #820080;
}

.options {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    padding: 0 10px;
    margin-bottom: 20px;
    line-height: 20px;
}

.with-notice .options {
    position: relative;
    z-index: 1;
}

.night-mode .options {
    background-color: #080808;
    border-bottom-color: #191919;
}

.options label {
    margin-left: 2em;
    padding-right: .5em;
    font-size: 13px;
}

.options label:first-child {
    margin-left: 0;
}

.options #bar-height-slider,
.options #dot-size-slider {
    width: 200px;
    height: 20px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.options #labels-visible {
    vertical-align: middle;
}

.chart-container {
    position: absolute;
    top: 133px;
    left: 20px;
    right: 20px;
    bottom: 20px;
}

.time-chart .hidden {
    display: none;
}

.time-chart .dot text {
    text-anchor: middle;
}

.night-mode .time-chart .dot text {
    fill: #ccc;
}

.time-chart.with-labels .dot text {
    font-size: 10px;
    text-shadow: 0 0 1px #fff;
}

.night-mode .time-chart.with-labels .dot text {
    text-shadow: 0 0 1px #000;
}

.time-chart.with-labels .dot:hover text {
    font-size: 14px;
}

.time-chart.without-labels .dot text {
    display: none;
}

.time-chart.without-labels .dot:hover text {
    display: block;
}

.time-chart .dot circle {
    fill-opacity: 0.5;
}

/* opacity is 1-(.5^n), where n = number of overlapping dots */

.time-chart .dot circle.times-2 {
    fill-opacity: 0.75;
}

.time-chart .dot circle.times-3 {
    fill-opacity: 0.875;
}

.time-chart .dot circle.times-4 {
    fill-opacity: 0.9375;
}

.time-chart .dot circle.times-5 {
    fill-opacity: 0.96875;
}

.time-chart .dot circle.times-6 {
    fill-opacity: 0.984375;
}

.time-chart .dot circle.times-7 {
    fill-opacity: 0.9921875;
}

.time-chart .dot circle.times-8 {
    fill-opacity: 0.99609375;
}

.time-chart .dot circle.times-9 {
    fill-opacity: 0.998046875;
}

.time-chart .dot circle.times-10-or-more {
    fill-opacity: 0.999;
}

.time-chart .grid {
    opacity: 0.5;
}

.time-chart.without-grid .grid,
.histogram-chart.without-grid .grid {
    display: none;
}

.time-chart .axis line,
.time-chart .axis path {
    stroke: #000;
    stroke-width: 1;
    fill: none;
}

.night-mode .time-chart .axis line,
.night-mode .time-chart .axis path {
    stroke: #ccc;
}

.time-chart .axis text,
.histogram-chart .axis text {
    font: 10px sans-serif;
    fill: #000;
}

.night-mode .time-chart .axis text,
.night-mode .histogram-chart .axis text {
    fill: #ccc;
}

.time-chart text.label {
    font: 12px sans-serif;
}

.night-mode .time-chart text.label,
.night-mode .histogram-chart text.label {
    fill: #ccc;
}

.time-chart line.average {
    stroke: #888;
}

.time-chart text.average {
    text-anchor: end;
    font-size: 10px;
    fill: #777;
    text-shadow: 0 0 1px #fff;
}

.night-mode .time-chart text.average {
    fill: #999;
    text-shadow: 0 0 1px #000;
}

.log-chart text {
    font: 10px sans-serif;
    text-anchor: end;
    fill: #fff;
}

.log-chart text.outside {
    fill: #000;
    text-anchor: start;
}

.night-mode .log-chart text.outside {
    fill: #ccc;
}

.log-chart g.axis path {
    stroke: #333;
    stroke-width: 1;
    fill: none;
}

.night-mode .log-chart g.axis path {
    stroke: #ccc;
}

.log-chart line.grid {
    stroke: #DDD;
    stroke-width: 1;
    fill: none;
}

.night-mode .log-chart line.grid {
    stroke: #222;
}

.histogram-chart .axis path,
.histogram-chart .axis line {
    stroke: #000;
    stroke-width: 2;
    fill: none;
}

.night-mode .histogram-chart .axis path,
.night-mode .histogram-chart .axis line {
    stroke: #ccc;
}

circle.flair-no-press,
rect.flair-no-press {
    fill: #888;
}

circle.flair-press-1,
rect.flair-press-1 {
    fill: #e50000;
}

circle.flair-press-2,
rect.flair-press-2 {
    fill: #e59500;
}

circle.flair-press-3,
rect.flair-press-3 {
    fill: #E5D900;
}

circle.flair-press-4,
rect.flair-press-4 {
    fill: #02be01;
}

circle.flair-press-5,
rect.flair-press-5 {
    fill: #0083C7;
}

circle.flair-press-6,
rect.flair-press-6 {
    fill: #820080;
}

line.flair-no-press {
    stroke: #888;
}

line.flair-press-1 {
    stroke: #e50000;
}

line.flair-press-2 {
    stroke: #e59500;
}

line.flair-press-3 {
    stroke: #E5D900;
}

line.flair-press-4 {
    stroke: #02be01;
}

line.flair-press-5 {
    stroke: #0083C7;
}

line.flair-press-6 {
    stroke: #820080;
}

.histogram-chart .hidden {
    display: none;
}

.histogram-chart .seconds {
    text-anchor: middle;
    font-size: 10px;
    fill: #fff;
}

.histogram-chart .clicks {
    text-anchor: middle;
    font-size: 10px;
    fill: #777;
}

.night-mode .histogram-chart .clicks {
    fill: #ccc;
}

.histogram-chart line.average {
    stroke: #888;
}

.histogram-chart text.average {
    text-anchor: middle;
    font-size: 12px;
    fill: #777;
    text-shadow: 0 0 1px #fff;
}

.night-mode .histogram-chart text.average {
    fill: #999;
}

.histogram-chart .last rect {
    fill: none;
    stroke: #000;
    stroke-width: 5;
}

.night-mode .histogram-chart .last rect {
    stroke: #fff;
}

.setting {
    padding: 20px;
    width: 20em;
    background-color: #e7e7e7;
    border-radius: 10px;
    margin: 20px;
}

.night-mode .setting {
    background-color: #191919;
    color: #ccc;
}

.setting .row {
    padding-bottom: 3px;
}

.setting .input-row {
    line-height: 40px;
}

.setting input[type="number"] {
    font-size: 28px;
    line-height: 1;
    width: 2em;
    padding: 5px;
    margin-right: 10px;
}

.setting input#discard-input {
    width: 5em;
}

.setting .detail {
    color: #888;
    font-size: 14px;
}

.night-mode .setting .detail {
    color: #666;
}

.setting .detail + .detail {
    margin-top: 10px;
}

.setting .error {
    color: red;
}

.setting #discard-submit {
    margin-bottom: 10px;
}

.setting textarea {
    display: block;
    width: 100%;
    height: 5em;
    line-height: 1;
    box-sizing: border-box;
}

.setting #import-submit {
    margin-bottom: 20px;
}

.import-notice {
    padding-left: 10px;
    background-color: #333;
    color: #e7e7e7;
    line-height: 38px;
}

.night-mode .import-notice {
    background-color: #ccc;
    color: #191919;
}

.import-notice .close {
    float: right;
    margin-left: 10px;
    font-size: 25px;
    color: red;
    font-weight: bold;
    padding: 0 10px;
}

.import-notice .time-remaining {
    display: inline-block;
    vertical-align: middle;
    width: 2em;
    font-size: 24px;
}

.import-notice .action {
    margin-left: 2em;
}

.audio {
    display: none;
}