html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font: 14px/1.2857 sans-serif;
}

a {
    color: #008BE0;
    text-decoration: none;
    cursor: pointer;
}

#nav {
    display: block;
    padding: 0 10px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    overflow: hidden;
}

.right-nav {
    float: right;
    font-size: 16px;
    line-height: 18px;
    margin: 18px 0 0 20px;
    text-align: center;
}

.right-nav .author {
    display: block;
    font-size: 12px;
}

.right-nav .author a {
    color: #888;
}

.github img {
    border: 0;
}

.timer {
    float: left;
    width: 2.5em;
    font-size: 48px;
    line-height: 54px;
    height: 54px;
}

.tick {
    float: left;
    width: 50px;
    height: 54px;
    line-height: 54px;
    text-align: center;
}

.tick .tock {
    width: 1em;
    height: 1em;
    border: 1px solid #000;
    -webkit-border-radius: .5em;
    border-radius: .5em;
    background-color: #000;
    display: inline-block;
    vertical-align: middle;
}

.tick .tock.odd {
    background-color: #fff;
    border-color: #000;
}

.stats {
    float: left;
    height: 54px;
    width: 16em;
    line-height: 18px;
    padding-right: 20px;
}

.chart-selector {
    float: left;
    height: 54px;
}

.chart-selector .chart-choice {
    float: left;
    font-size: 16px;
    line-height: 1;
    height: 54px;
    padding: 0 20px;
    text-align: center;
    width: 3.5em;
}

.chart-selector .chart-choice.selected {
    background-color: #e7e7e7;
    color: #000;
}

.chart-selector .chart-choice .tab-name {
    margin-top: 20px;
    display: block;
}

.chart-selector .chart-choice .tab-description {
    display: block;
    font-size: 12px;
    color: #888;
}

.options {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    padding: 0 10px;
    margin-bottom: 20px;
    line-height: 20px;
}

.options label {
    margin-right: 1em;
    font-size: 13px;
}

.options #bar-height-slider {
    width: 200px;
    height: 20px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.log-chart text {
    font: 10px sans-serif;
    text-anchor: end;
    fill: #fff;
}

.log-chart text.outside {
    fill: #000;
    text-anchor: start;
}

.log-chart g.axis path {
    stroke: #333;
    stroke-width: 1;
    fill: none;
}

.log-chart line.grid {
    stroke: #DDD;
    stroke-width: 1;
    fill: none;
}

.flair-no-press {
    fill: #888;
}

.flair-press-1 {
    fill: #e50000;
}

.flair-press-2 {
    fill: #e59500;
}

.flair-press-3 {
    fill: #E5D900;
}

.flair-press-4 {
    fill: #02be01;
}

.flair-press-5 {
    fill: #0083C7;
}

.flair-press-6 {
    fill: #820080;
}

.alert-settings {
    padding: 20px;
    width: 20em;
    background-color: #e7e7e7;
    border-radius: 10px;
    margin: 20px;
}

.alert-settings .row {
    padding-bottom: 3px;
}

.alert-settings .input-row {
    line-height: 40px;
}

.alert-settings #alert-time-input {
    font-size: 28px;
    line-height: 1;
    width: 2em;
    padding: 5px;
    margin-right: 10px;
}

.alert-settings .detail {
    color: #888;
    font-size: 14px;
}

.alert-settings .error {
    color: red;
}